<footer class="bg-dark text-white pt-4">
  <div class="container">
      <div class="row">
          <div class="col-md-4">
              <h5>About Us</h5>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
          </div>
          <div class="col-md-4">
              <h5>Quick Links</h5>
              <ul class="list-unstyled">
                  <li><a href="#" class="text-white">Home</a></li>
                  <li><a href="#" class="text-white">About</a></li>
                  <li><a href="#" class="text-white">Services</a></li>
                  <li><a href="#" class="text-white">Contact</a></li>
              </ul>
          </div>
          <div class="col-md-4">
              <h5>Contact Us</h5>
              <ul class="list-unstyled">
                  <li><i class="fas fa-map-marker-alt"></i> 123 Street, City, Country</li>
                  <li><i class="fas fa-phone"></i> +123 456 7890</li>
                  <li><i class="fas fa-envelope"></i> emailexample.com</li>
              </ul>
          </div>
      </div>
      <div class="row mt-3">
          <div class="col-md-12 text-center">
              <p>&copy; 2024 Your Company. All rights reserved.</p>
          </div>
      </div>
  </div>
</footer>

